<body>
<div class="container">




<h1>Edit your account</h1>



<form action="/colleges/account/<%=@college.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="name" value="<%=@college.name %>" /> <br>   
  <input type="text" name="school_name" value=" <%=@college.school_name%>"><br>
  <input type="text" name="location" value="<%= @college.location %>">
  <input type="text" name="email" value="<%= @college.email %>"><br>
  
  
  
  <h2>Edit Your positions </h2>

<ul>
<% @positions.each do |position| %>

  <li>
    <input type="checkbox" name="position[]" value="<%=position.id%>"> <%=position.name %><br>
  </li>
  <% end %>
  </ul>
  <button>Update Account</button>
</form>