<div class="container">
<h2><%=@message.title%></h2>
<p><%=@message.content%></p>
<h4>from: <%=@message.user.id%>

<% @replies.each do |reply| %>
<h4><%=reply.content%></h4>

<% end %>
<form action="/colleges/account/<%=@message.id%>" method="POST" >
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger my-3">DELETE</button>
          </form>
 <h2 class="p-3">Reply</h2>
       <form  action="/colleges/account/<%=@message.id%>/reply" method="POST">
        <div class="form-group">
          <textarea class="form-control" name="content" rows=5></textarea>
          </div>
            <button class="btn btn-primary m-3" >Submit</button>
        </form>
      
      </div>