<body>
    <div class="container my-5 mt-5">
    <div class="player-reg shadow-lg p-3 my-5 bg-white rounded">
    
    <h1 class="mt-5">Edit your account</h1>
    <form action="/colleges/account/<%=@college.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT" />
    <div class="form-group">
        <label>Rercruiters name</label>
      <input class="form-control" type="text" name="name" value="<%=@college.name %>"  /> 
    </div>
      <div class="form-group">
      <label>School Name</label>
      <input class="form-control" type="text" name="school_name" value=" <%=@college.school_name%>">
      </div>
      <div class="form-group">
      <label>State</label>
      <input class="form-control" type="text" name="state" value="<%= @college.state %>">
      </div>
      <div class="form-group">
      <label>City</label>
      <input class="form-control" type="text" name="city" value="<%= @college.city %>">
      </div>
     
      <div class="form-group">
      <label>Email</label>
     <input class="form-control" type="text" name="email" value="<%= @college.email %>">
      </div>
      <h2 class="mt-5">Edit Your Positions</h2>
        <% @positions.each do |position| %>
        <input type="checkbox" name="position[]" value="<%=position.id%>"> <%=position.name %><br>
      <% end %>
      </ul>
      <button class="btn btn-primary mt-3">Update Account</button>
    </form>
    </div>
    </div>
    </body>