<body class="py-5">
<div class="container">

<h1 class="text-center">College show page</h1>
<div class="college-show-card bg-light text-center m-4">
<div class="card" >
  <div class="card-header">
  <h2> player name:  <%=@player.name%> </h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Recruiters name:<%=@college.name%> </li>
    <li class="list-group-item">School name : <%=@college.school_name%></li>
    <li class="list-group-item">State : <%=@college.state%></li>
    <li class="list-group-item">weight: <%= @player.weight%></li>
    <li class="list-group-item">City: <%=@college.city%></li>
  </ul>
</div>
</div>
</body>




