<div class="container mt-5">
  <div class="p-5 row justify-content-center">
    <div class="card col-6 rounded bg-light">
      <div class="card-body">
        <div class="card-title">
          <h2> Title: <%=@message.title%></h2>
            <small>From: <%=@message.user.id%></small>
          </div>
          <p class='card-text'><%=@message.content%></p>
      </div>
    </div>
</div>

<% if !@replies.any?  %>
<p> </p>
<%else %>
<div class="row justify-content-center">
<div class="card col-6 rounded bg-secondary">
<div class="card-body">

<% @replies.each do |reply| %>
<p class="card-text text-white"><%=reply.content%></h4>

<% end %>
<% end %>
</div>

</div>
</div>
      <h2 class="p-3">Reply</h2>
       <form  action="/players/account/<%=@message.id%>/reply" method="POST">
        <div class="form-group">
          <textarea class="form-control" name="content" rows=5></textarea>
          </div>
            <button class="btn btn-primary m-3" >Submit</button>
        </form>
        <form action="/players/account/<%=@message.id%>" method="POST" >
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger my-3">DELETE</button>
        </form>
  </div>
  </div>