<body class="py-5">
<div class="container">

<h1 class="text-center">College show page</h1>
<div class="college-show-card bg-light text-center m-4">
<div class="card" >
  <div class="card-header">
  <h2> player name:  <%=@player.name%> </h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">State: <%=@player.state%></li>
    <li class="list-group-item">City : <%=@player.city%></li>
    <li class="list-group-item">Height: <%= @player.height%></li>
    <li class="list-group-item">weight: <%= @player.weight%></li>
    <li class="list-group-item">stats: <%= @player.stats%></li>
  </ul>
</div>
</div>
</body>
