<div class="containr">

<h2>title: <%=@message.title%></h2>
<p><%=@message.content%></p>
<p>from: <%=@message.user.id%></p>

<% @replies.each do |reply| %>
<h4><%=reply.content%></h4>

<% end %>

 <h2 class="p-3">Reply</h2>
       <form  action="/players/account/<%=@message.id%>/reply" method="POST">
        <div class="form-group">
          <textarea class="form-control" name="content" rows=5></textarea>
          </div>
            <button class="btn btn-primary m-3" >Submit</button>
        </form>
      </div>
      </div>