<body>
<div class="container">


<h1>Welcome to your account page</h1>
  Name
<h3><%= @player.name %> </h3>
School Name
<h3> <%= @player.school_name %> </h3>
Location
<h3> <%= @player.location %> </h3>
Height
<h3> <%= @player.height %> </h3>
Weight
<h3> <%= @player.weight %> </h3>
Stats
<h3> <%= @player.stats %> </h3>

<h2>Positions I play </h2>

<ul>

  <% @positions.each do |position| %>
    <li>
      <%= position.name%>
    </li>


  <% end %>

</ul>


<a href="/players/matching-colleges">Find College's That need you</a>

<a href="/players/<%= @player.id %>/edit">(Edit account)</a>
</div>
</body>







